[submodule "modules/oniguruma"]
	path = modules/oniguruma
	url = https://github.com/kkos/oniguruma.git
[submodule "imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui/
[submodule "lib\\imgui"]
	branch = docking
